<div id="img-inicial">
    <div class="container-fluid">
        <div class="row" style="padding-top: 100px">
            <div class="col-md-6">
                <h1>Fazer negocios imobiliarios nunca foi tão facil, seguro e barato</h1>
                <h2>Para o locador</h2>
                <ul>
                    <li>Sem imprevistos, você recebe o alug'2uel na data acordada</li>
                    <li>Tudo online, você não precisa ficar indo a imobiliaria para levar documentos</li>
                </ul>
                <h2>Para o locatario</h2>
                <ul>
                    <li>Sem burocracia, vocêfaz tudo online</li>
                    <li>Muito mais barato, sem fiador, seguro fiança ou deposito caução</li>
                </ul>
                <h2>Para o corretor</h2>
                <ul>
                    <li>Carteira de clientes interessados em alugar</li>
                    <li>Carteira de imoveis para você fazer negocio</li>
                </ul>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-12"> 
                <div style="padding-top: 100px;padding-left:200px">
                    <button class="btn-transparent">Buscar Imovel</button>
                    <button class="btn-transparent">Anunciar Imovel</button>    
                </div>
                
            </div>
            
        </div>
    </div>
</div>

